.zone-title
{
    text-align: center;
}
.zone-border
{
    border: 5px solid black;
    width: 400px;
    border-radius: 10px;
    padding: 5px;
    margin-right: 0;
    margin-left: auto;
}
.add-cancel-remove
{
    text-align: center;

}
.zone-list
{
    list-style: none;
    padding-bottom: 10px;
}
.zone-inner-list
{
    padding-bottom: 15px;
}
.color-choose
{
    padding-top: 10px;
}
.zone-navigation-button
{
    padding-top: 100px;
    text-align: center;
}
.hide-add-cancel
{
    display: none;
}
